.kigaruni-pink {
    color: $--color-cb3a82;
}

.kigaruni-green {
    color: $--color-8fc31f;
}

.kigaruni-yellow {
    color: $--color-cccc3b;
}

.kigaruni-pink-background {
    background-color: $--color-cb3a82;
}

.kigaruni-green-background {
    background-color: $--color-8fc31f;
}

.kigaruni-yellow-background {
    background-color: $--color-cccc3b;
}

.background-707070 {
    background-color: $--color-707070;
}

.fa-bordered {
    text-shadow: 0 0 2px #000;
}

.overlay-badge {
    position: absolute;
    right: 17.3%;
}

.exy-white-btn {
    margin-top: 50px;
    background-color: #FFFFFF;
    color: $--color-cb3a82;
    display: inline-block;
    border: 1px solid;
    font-size: 20px;
    line-height: 48px;
    max-width: 500px;
    width: 100%;
    font-weight: 700;
    height: 48px;
    transition: 0.8s;
}

.crossed {
    background:
        linear-gradient(to top left,
            rgba(0, 0, 0, 0) 0%,
            rgba(0, 0, 0, 0) calc(50% - 0.8px),
            rgba(0, 0, 0, 1) 50%,
            rgba(0, 0, 0, 0) calc(50% + 0.8px),
            rgba(0, 0, 0, 0) 100%),
        linear-gradient(to top right,
            rgba(0, 0, 0, 0) 0%,
            rgba(0, 0, 0, 0) calc(50% - 0.8px),
            rgba(0, 0, 0, 1) 50%,
            rgba(0, 0, 0, 0) calc(50% + 0.8px),
            rgba(0, 0, 0, 0) 100%);
}

.second-header {
    padding: 20px 50px 20px 50px;
    margin: 0 0px 0 0px;

    .col-left {

        // padding-left: 80px;
        .nav-badge {
            background-color: $--color-cccc3b;
            color: $--color-ffffff;
        }
    }

    .col-right {
        .active {
            border-left: 1px solid $--color-cb3a82;
        }
    }
}

.childcare-parent {

    // tab pills
    .custom-tab-pills {

        .nav-link {
            background: none;
            border: 2px solid #DCDCDC;
            border-radius: 0.65rem;
            width: 100% !important;
            height: 55px;

            .pills-text {
                color: rgba(51, 51, 51, 1)
            }
        }

        .nav-link.active,
        .show>.nav-link {
            color: #fff;
            background-color: #CB3A82;
            width: 100% !important;
            border: none !important;

            .pills-text {
                color: rgba(255, 255, 255, 1);
                font-weight: bold;
            }
        }

        .pills-text {
            text-align: center;
            font-style: normal;
            font-size: 16px;
        }
    }

    // tab content
    .custom-tab-content {
        border-top: 3px solid #DCDCDC;
    }

    // Centered Image
    .img-center {
        .container {
            position: relative;
        }

        .img-text {
            position: absolute;
            left: 63%;
            top: 50%;
            transform: translate(-50%, -50%);
            font-size: 15px;
            color: #fff;
        }

        img {
            width: 170%;
            height: auto;
            opacity: 100;
        }
    }

}