.--color-8fc31f {
    color: $--color-8fc31f;
}

.bg-pink {
    background-color: #FBEEF5 !important;
}

.wrapped-word {
    word-wrap: break-word !important;
}

.vertical-line {
    border-left: 6px solid #CB3A82;
    height: 30px;
}

.cocoro-btn {
    padding: 5px 20px 5px 20px;
    border: 2px solid #959595;
}

.annual-calendar {
    overflow: hidden;
    
    p {
        margin: 0;
    }
    
    .calendar-content {
        padding: 5px;
        min-height: 100px;
        border: 1px solid #707070;
        background: #F8F7F7 0 0 no-repeat padding-box;
    }
    
    .exy-dashed-border {
        margin-top: 15px;
        border: 1px dashed #EBEBEB;
    }
}

.no-border {
    border: none !important;
}

.text-red {
    color: #FF0000;
}

.custom-form-group {
    .form-label {
        line-height: 35px;
    }
    
    .form-control {
        border: 2px solid #9C9C9C;
    }
    
    .form-control:focus {
        border: 2px solid #9C9C9C;
    }
    
    // for date picker
    
    .mx-input {
        border: 2px solid #9C9C9C;
        height: 40px;
    }
    
    .mx-input:focus,
    .mx-input:hover {
        border-color: #9C9C9C;
        height: 40px;
    }
    
    input[type=checkbox] {
        margin-top: 7px;
    }
}

.cocoro-parent-div {
    font-size: 16px;
    line-height: 30px;
    text-align: left;
    font-style: normal;
    font-weight: normal;
    color: rgba(61, 52, 66, 1);
    
    .cocoro-container {
        padding: 30px 0 30px 0;
        
        // *** cocoro page title ***
        .cocoro-page-title {
            .cocoro-img {
                height: 80px;
                width: 80px;
            }
            
            .title-img-holder {
                float: left;
            }
            
            .title-txt-holder {
                font-size: 25px;
                color: rgba(68, 63, 61, 1);
            }
        }
        
        // *** Cocoro Content Holder ***
        .cocoro-content-holder {
            padding: 2px 12px 2px 12px;
            
            .content-btn {
                padding: 5px 40px 5px 40px;
                border: 2px solid #E59CC0;
                color: #CB3A82;
                background-color: #FFFFFF;
            }
        }
        
        .section-header {
            color: #CB3A82;
            font-size: 20px;
            line-height: 30px;
            letter-spacing: 2px;
        }
        
        // section 1 tab pills
        .cocoro-section-tab-pills {
            
            .nav-link {
                background: none;
                border: 2px solid #DCDCDC;
                border-radius: 0.65rem;
                width: 100% !important;
                height: 55px;
                
                .pills-text {
                    color: rgba(51, 51, 51, 1)
                }
            }
            
            .nav-link.active,
            .show > .nav-link {
                color: #fff;
                background-color: #CB3A82;
                width: 100% !important;
                border: none !important;
                
                .pills-text {
                    color: rgba(255, 255, 255, 1);
                    font-weight: bold;
                }
            }
            
            .pills-text {
                text-align: center;
                font-style: normal;
                font-size: 16px;
            }
        }
        
        // section 1 tab content
        .cocoro-section-tab-content {
            border-top: 5px solid #DCDCDC;
        }
        
        // *** cocoro section ***
        .cocoro-section {
            border: 2px solid #DCDCDC;
            
            hr {
                background-color: #fff;
                border-top: 2px dashed #EBEBEB;
            }
            
            .content-box {
                background-color: $--color-f8f7f7;
                margin-top: 0 !important;
                
                .content-holder {
                    padding: 37px 30px;
                }
            }
        }
    }
}
