.breadcrumb-border-admin {
    .breadcrumb {
        margin: 0;
    }
}

.children-information {
    margin-bottom: 100px !important;
    
    .experience-body {
        .left-col {
            .row-1 {
                background-color: $--color-eaeaea;
                
                .inner-1 {
                    border: 1px solid $--color-d8d8d8;
                }
                
                .inner-2 {
                    option {
                        background-color: $--color-eaeaea !important;
                    }
                    
                    select option:checked {
                        background-color: none !important;
                    }
                    
                    select option:hover {
                        background-color: none !important;
                        color: $--color-ffffff;
                    }
                    
                    select:focus {
                        border: 1px solid $--color-d8d8d8;
                        
                    }
                }
            }
            
            .row-2 {
                option {
                    background-color: $--color-eaeaea !important;
                }
                
                select:focus {
                    border: 1px solid $--color-d8d8d8;
                    
                }
            }
            
            .row-3 {
                border: 1px solid $--color-dee2e6;
                border-bottom: 0px;
            }
            
            .row-4 {
                border-top: 1px solid $--color-dee2e6;
                
                .span-1 {
                    background-color: $--color-84c942;
                    color: $--color-ffffff;
                    border-radius: 50%;
                }
            }
        }
        
        .right-col {
            .row-1 {
                border-top: 1px solid $--color-dee2e6;
                
                .top-p {
                    font-size: 45px;
                    color: $--color-707070;
                    
                    .span-1 {
                        border: 1px solid $--color-707070;
                        border-radius: 21px;
                        color: $--color-707070;
                        margin-top: 12px;
                        z-index: -1;
                    }
                }
            }
            
            .row-2 {
                .details-tab {
                    padding-top: 40px;
                    
                    .tabs {
                        display: flex;
                        flex-wrap: nowrap;
                        text-align: center;
                        padding: 0 5rem 0 5rem;
                        
                        a,
                        i {
                            cursor: pointer;
                            display: inline-block;
                            font-weight: 500;
                        }
                        
                        a {
                            width: calc(100% / 4);
                            padding: 15px 10px;
                            font-size: 15px;
                            border-radius: 5px 5px 0 0;
                            border-bottom: 1px solid $--color-333333;
                            color: $--color-cb3a82;
                            
                            &:hover {
                                color: #333333;
                                
                                i {
                                    color: #333333;
                                }
                            }
                        }
                        
                        a.active {
                            border: 1px solid $--color-333333;
                            border-bottom: 0px solid $--color-ffffff;
                            //  background-color: $--color-cb3a82;
                            color: $--color-333333;
                        }
                    }
                }
                
                .expericence-childcare {
                    .inner-row-1 {
                        option {
                            background-color: $--color-eaeaea !important;
                        }
                        
                        select:focus {
                            border: 1px solid $--color-d8d8d8;
                            
                        }
                        
                        .inner-1 {
                            .p-button {
                                background-color: $--color-333333;
                                color: $--color-ffffff;
                            }
                            
                            .p-button-1 {
                                background-color: $--color-cb3a82;
                                color: $--color-ffffff;
                            }
                        }
                        
                        .inner-2 {
                            .inner-col {
                                border: 1px solid $--color-333333;
                            }
                            
                            .box-row-1 {
                                border-top: 1px solid $--color-333333;
                                
                                .box-left {
                                    background-color: $--color-fbeef5;
                                }
                                
                                .p-box {
                                    height: 80px;
                                    border: 1px solid $--color-d8d8d8;
                                }
                                
                                .span-1 {
                                    border: 1px solid $--color-707070;
                                    color: $--color-707070;
                                    border-radius: 50%;
                                }
                            }
                            
                            .no-border {
                                border: 0px;
                            }
                        }
                        
                        .inner-3 {
                            .box-inner-1 {
                                margin-top: 100px;
                            }
                            
                            .box-inner-2 {
                                background-color: $--color-edeff0;
                            }
                            
                            .box-inner-3 {
                                border-bottom: 1px solid $--color-dee2e6;
                            }
                        }
                        
                        .inner-4 {
                            .hr-color {
                                border-top: 1px solid $--color-333333;
                                background-color: $--color-333333;
                            }
                        }
                        
                        .inner-5 {
                            .p-box {
                                height: 80px;
                                border: 1px solid $--color-d8d8d8;
                            }
                            
                            .span-1 {
                                background-color: $--color-cb3a82;
                                color: $--color-ffffff;
                            }
                            
                            .span-2 {
                                background-color: $--color-333333;
                                color: $--color-ffffff;
                            }
                        }
                        
                        .inner-6 {
                            background-color: $--color-f8f7f7;
                            
                            .p-box {
                                border: 1px solid $--color-cb3a82;
                                color: $--color-cb3a82;
                                border-radius: 15px;
                            }
                        }
                        
                        .box-margin {
                            margin-top: 100px;
                        }
                    }
                }
                
                .physical-measurement-Weight {
                    .inner-1 {
                        .span-1 {
                            color: $--color-cb3a82;
                        }
                    }
                    
                    .inner-2 {
                        .inner-col {
                            border: 1px solid $--color-333333;
                            
                            .col-1 {
                                width: calc(2 * (100% / 14));
                            }
                            
                            .col-2 {
                                border-left: 1px solid $--color-333333;
                                width: calc(100% / 14);
                            }
                            
                            .inner-row-1 {
                                background-color: $--color-fbeef5;
                            }
                            
                            .inner-row-2 {
                                border-top: 1px solid $--color-333333;
                                
                                .left-col {
                                    background-color: $--color-e8f4ff;
                                }
                            }
                        }
                    }
                    
                    .inner-3 {
                        .col-1 {
                            border-left: 1px solid $--color-cecece;
                            width: calc(1.25 * (100% / 7.5));
                        }
                        
                        .col-2 {
                            border-left: 1px solid $--color-cecece;
                            width: calc(100% / 7.5);
                        }
                        
                        .no-border {
                            border: 0px;
                        }
                        
                        .active {
                            border: 0px;
                            border-bottom: 3px solid $--color-cb3a82;
                        }
                        
                        .inner-row-1 {
                            .col-1 {
                                border: 0;
                                width: calc(100% / 14.5);
                            }
                            
                            .col-2 {
                                border: 0;
                                width: calc(100% / 14.5);
                            }
                        }
                        
                        .inner-row-2 {
                            .step-left {
                                position: relative;
                                
                                p {
                                    position: absolute;
                                    left: 0;
                                    width: 150px;
                                }
                            }
                            
                            .progressbar {
                                
                                li {
                                    list-style-type: none;
                                    width: 50%;
                                    height: 10px;
                                    float: left;
                                    font-size: 12px;
                                    position: relative;
                                    text-align: center;
                                    text-transform: uppercase;
                                    color: $--color-cb3a82;
                                    transform: rotate(-45deg);
                                    margin-top: 20px;
                                }
                                
                                li:before {
                                    width: 10px;
                                    height: 10px;
                                    content: '';
                                    line-height: 20px;
                                    display: block;
                                    text-align: center;
                                    margin: 0 auto 10px auto;
                                    border-radius: 50%;
                                    margin-left: 55px;
                                    background-color: $--color-cb3a82;
                                }
                                
                                .bottom:before {
                                    margin-top: 35px;
                                    margin-left: 40px;
                                }
                                
                                li:after {
                                    width: 100%;
                                    height: 2px;
                                    content: '';
                                    position: absolute;
                                    background-color: $--color-cb3a82;
                                    top: 5px;
                                    left: 14px;
                                    z-index: -1;
                                }
                                
                                li:first-child:after {
                                    content: none;
                                    
                                }
                            }
                        }
                    }
                }
                
                .basic-information {
                    .left-col {
                        background-color: $--color-fbeef5;
                    }
                    
                    .row-1 {
                        border: 1px solid $--color-333333;
                        border-bottom: 0px;
                    }
                    
                    .row-2 {
                        border: 1px solid $--color-333333;
                    }
                    
                    .row-3 {
                        background-color: $--color-f8f7f7;
                    }
                    
                    .span-1 {
                        background-color: $--color-ffffff;
                        border: 1px solid $--color-a8a8a8;
                        border-radius: 30px;
                    }
                }
            }
        }
    }
}

.garden-basic-info {
    padding-bottom: 100px;
    
    .image-plus-btn {
        height: 50px;
        width: 50px;
        border: 3px solid;
        border-radius: 50%;
        background: transparent;
        font-size: 24px;
        line-height: 50px;
        color: #707070;
        
        &:hover {
            color: $--color-cb3a82;
        }
    }
    
    .posted-image-area {
        position: relative;
        
        .image-remove-box {
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;
            z-index: 999;
            background: rgba(0, 0, 0, .3);
            display: none;
            
            .image-remove-icon {
                color: #FFFFFF;
                position: absolute;
                top: 50%;
                left: 50%;
                z-index: 9999;
                cursor: pointer;
                transform: translate(-50%, -50%);
            }
        }
        
        .blank-image-remove {
            position: absolute;
            top: -10px;
            right: -10px;
            background: #464545;
            color: #FFF;
            height: 30px;
            width: 30px;
            justify-content: center;
            align-items: center;
            display: flex;
            border-radius: 50%;
            z-index: 99;
            cursor: pointer;
        }
        
        &:hover {
            .image-remove-box {
                display: block;
            }
        }
    }
    
    .details-tab {
        padding-top: 40px;
        
        .tabs {
            display: flex;
            flex-wrap: nowrap;
            text-align: center;
            padding: 0 5rem 0 5rem;
            
            a,
            i {
                cursor: pointer;
                display: inline-block;
                font-weight: 500;
            }
            
            a {
                width: calc(100% / 5);
                padding: 15px 10px;
                font-size: 15px;
                border-radius: 5px 5px 0 0;
                border-bottom: 1px solid $--color-333333;
                color: $--color-cb3a82;
                
                &:hover {
                    color: #333333;
                    
                    i {
                        color: #333333;
                    }
                }
            }
            
            a.active {
                border: 1px solid $--color-333333;
                border-bottom: 0px solid $--color-ffffff;
                color: $--color-333333;
            }
        }
    }
    
    .tab-1 {
        .row-1 {
            border: 1px solid $--color-333333;
            
            .left-col {
                background-color: $--color-fbeef5;
                border-right: 1px solid #e9d7e1;
                align-items: center;
                display: flex;
                justify-content: center;
            }
            
            .right-col {
                .crossed {
                    background: linear-gradient(to top left,
                            rgba(0, 0, 0, 0) 0%,
                            rgba(0, 0, 0, 0) calc(50% - 0.8px),
                            rgba(0, 0, 0, 1) 50%,
                            rgba(0, 0, 0, 0) calc(50% + 0.8px),
                            rgba(0, 0, 0, 0) 100%),
                    linear-gradient(to top right,
                                    rgba(0, 0, 0, 0) 0%,
                                    rgba(0, 0, 0, 0) calc(50% - 0.8px),
                                    rgba(0, 0, 0, 1) 50%,
                                    rgba(0, 0, 0, 0) calc(50% + 0.8px),
                                    rgba(0, 0, 0, 0) 100%);
                }
                
                .cross-box {
                    height: 220px;
                }
                
                .inner-1 {
                    background-color: $--color-f8f7f7;
                    border: 1px solid $--color-333333;
                }
                
                .span-1 {
                    border: 3px solid $--color-707070;
                    border-radius: 50%;
                    color: $--color-707070;
                }
            }
        }
        
        .row-2 {
            border: 1px solid $--color-dee2e6;
        }
        
        .row-3 {
            .inner-col {
                border: 1px solid $--color-707070;
                
                .left-col {
                    background-color: $--color-fbeef5;
                }
                
                .right-col {
                    background-color: $--color-fbeef5;
                    border-left: 1px solid $--color-707070;
                }
                
                .inner-1 {
                    border-top: 1px solid $--color-333333;
                    
                    .span-1 {
                        border: 1px solid $--color-707070;
                    }
                    
                    .inner-row-1 {
                        background: $--color-eaeaea;
                    }
                }
            }
        }
        
        .row-4 {
            .span-1 {
                background: $--color-fbeef5;
                border: 1px solid $--color-cb3a82;
                color: $--color-cb3a82;
            }
            
            .span-2 {
                background: $--color-cb3a82;
                color: $--color-ffffff;
            }
        }
        
        .row-5 {
            .inner-col {
                border: 1px solid $--color-333333;
                border-top: 0px;
                
                .inner-1 {
                    background: $--color-f8f7f7;
                    
                    .col-1 {
                        width: calc(100% / 5);
                    }
                    
                    .p-button {
                        background: $--color-ffffff;
                        border-radius: 5px;
                    }
                    
                    .p-button-1 {
                        background: $--color-bcbcbc;
                        border-radius: 5px;
                    }
                    
                    .p-color {
                        color: $--color-9d9d9d;
                    }
                }
                
                .inner-2 {
                    .left-col {
                        border: 1px solid $--color-333333;
                        
                        .inner-box-1 {
                            background: $--color-fbeef5;
                        }
                    }
                    
                    .right-col {
                        .inner-box-2 {
                            border: 1px solid $--color-333333;
                            
                            .left-box {
                                background: $--color-fbeef5;
                                border-right: 1px solid $--color-333333;
                            }
                            
                            .p-box {
                                background: $--color-f2f2f2;
                                border: 1px solid $--color-bababa;
                                border-radius: 5px;
                            }
                        }
                    }
                }
            }
            
            .inner-col-1 {
                border: 1px solid $--color-333333;
                border-top: 0px;
                
                .school-step {
                    .step-item {
                        padding-left: 50px;
                        position: relative;
                        z-index: 1;
                        font-weight: bold;
                    }
                    
                    .step-left {
                        position: relative;
                        font-weight: bold;
                        
                        p {
                            position: absolute;
                            left: 70px;
                            width: 150px;
                        }
                    }
                    
                    .progressbar {
                        
                        li {
                            list-style-type: none;
                            width: 20%;
                            float: left;
                            font-size: 12px;
                            position: relative;
                            text-align: center;
                            text-transform: uppercase;
                            color: $--color-cecece;
                            
                            img {
                                position: absolute;
                                top: -20px;
                                left: 75px;
                                z-index: 2;
                            }
                        }
                        
                        li:before {
                            width: 20px;
                            height: 20px;
                            content: '';
                            line-height: 20px;
                            display: block;
                            text-align: center;
                            margin: 0 auto 10px auto;
                            border-radius: 50%;
                            background-color: $--color-cecece;
                        }
                        
                        li:after {
                            width: 100%;
                            height: 4px;
                            content: '';
                            position: absolute;
                            background-color: $--color-cecece;
                            top: 9px;
                            left: -50%;
                            z-index: -1;
                        }
                        
                        li:first-child:after {
                            content: none;
                            
                        }
                    }
                    
                    .step-right {
                        position: relative;
                        font-weight: bold;
                        margin-top: 0;
                        
                        p {
                            position: absolute;
                            left: -55px;
                            top: -15px;
                        }
                    }
                }
            }
        }
    }
}
