/****************************************
 * Search Section
 ****************************************/
.search-section {
    padding: 65px 0;
    background-color: $--color-f8f7f7;
    
    .mx-input {
        text-align: center;
        color: $--color-cb3a82;
        font-size: 18px;
        height: 60px;
        padding: 2px 0 0 0;
        border: 1px solid $--color-cb3a82;
        border-radius: 10px;
        
        &::placeholder {
            color: $--color-cb3a82;
        }
    }
    
    .mx-calendar-content .disabled {
        background-color: $--color-cb3a82;
    }
    
    .search-btn {
        background-color: $--color-cb3a82;
        border: 1px solid $--color-cb3a82;
        display: block;
        width: 100%;
        color: #fff;
        font-weight: 500;
        font-size: 18px;
        height: 60px;
        padding: 2px 0 0 0;
        transition: background-color 0.5s ease;
        
        &:hover {
            background-color: $--color-e6006e;
        }
    }
    
    .vs__dropdown-toggle {
        background-color: #FFFFFF;
        font-weight: 500;
        font-size: 18px;
        height: 60px;
        padding: 2px 0 0 0;
        border: 1px solid $--color-cb3a82;
        border-radius: 10px;
        color: $--color-cb3a82;
        
        input {
            &::placeholder {
                color: $--color-cb3a82;
                text-align: center;
            }
        }
    }
    
    .search-nav {
        span, .fa-caret-right {
            letter-spacing: -2px;
            color: $--color-8fc31f;
        }
    }
}

/****************************************
 * About Area
 ****************************************/
.about-area {
    text-align: center;
    padding: 50px 0 30px;
    background: linear-gradient(to top, $--color-f8f7f7 65%, $--color-ffffff 35%);
    
    .single-item {
        a {
            display: block;
            height: 161px;
            background: #FFFFFF;
            box-shadow: 0 3px 6px #00000029;
            border: 1px solid #CBCBCB;
            border-radius: 5px;
            opacity: 1;
            padding: 30px 0 0;
            position: relative;
            
            p {
                margin: 0;
                color: $--color-cb3a82;
                font-weight: 600;
                position: absolute;
                bottom: 7px;
                left: 50%;
                transform: translate(-50%, 0);
                width: 100%;
            }
            
            span {
                font-size: 11px;
                top: 75px;
                right: -58px;
                width: 146px;
                text-align: left;
                position: absolute;
                transform: matrix(0, 1, -1, 0, 0, 0);
                color: $--color-84c942;
                font-weight: 700;
            }
        }
        
        p {
            margin: 0;
            font-size: 14px;
            color: #5f5c5c;
            padding: 12px 50px 0;
            letter-spacing: 0;
            font-weight: 500;
            line-height: 1.8em;
        }
    }
}

/****************************************
 * Garden Feature
 ****************************************/
.garden-feature, .Kigarni-hoik {
    padding: 100px 0;
    
    .tabs {
        display: flex;
        flex-wrap: nowrap;
        text-align: center;
        margin-bottom: 30px;
        border-bottom: 7px solid $--color-f8f7f7;
        
        a, i {
            cursor: pointer;
            display: inline-block;
            font-weight: 500;
        }
        
        a {
            width: calc(100% / 3);
            padding: 6px 10px;
            font-size: 25px;
            
            &:hover {
                color: #333333;
                
                i {
                    color: #333333;
                }
            }
        }
        
        .active {
            position: relative;
            
            &::before {
                content: '';
                display: inline-block;
                height: 0;
                width: 0;
                border-top: 28px solid $--color-c94284;
                border-left: 25px solid transparent;
                border-right: 25px solid transparent;
                position: absolute;
                top: 100%;
                left: 50%;
                transform: translateX(-50%);
            }
            
            &::after {
                content: '';
                display: block;
                height: 7px;
                width: 100%;
                position: absolute;
                top: 100%;
                left: 0;
                background-color: $--color-c94284;
            }
        }
    }
}

.garden-feature {
    .content {
        .tab-content {
            overflow: hidden;
            
            .single-item {
                margin: 0 5px;
                
                .thumbnail {
                    img {
                        border-radius: 12px;
                        width: 100%;
                        height: 300px;
                    }
                }
                
                .thumbnail {
                    position: relative;
                    
                    .overlay {
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        background-color: #FFFFFF;
                        transform: translate(-50%, -50%);
                        
                        a {
                            opacity: 1;
                            color: #000000;
                            font-size: 13px;
                            letter-spacing: 0;
                            line-height: 1em;
                            padding: 0 8px;
                        }
                    }
                }
                
                .area {
                    margin: 7px 0 0 0;
                    
                    a {
                        display: inline-block;
                        border: 1px solid $--color-333333;
                        color: $--color-333333;
                        text-decoration: none;
                        border-radius: 15px;
                        padding: 3px 15px 0;
                        line-height: 1.3em;
                        margin-right: 15px;
                        transition: 0.5s ease;
                        font-size: 13px;
                        
                        &:hover {
                            color: #FFFFFF;
                            background: $--color-c94284;
                            border: 1px solid $--color-e6006e;
                        }
                    }
                }
                
                .address {
                    display: flex;
                    align-items: center;
                    font-size: 13px;
                    padding: 7px 0;
                    
                    span {
                        &:first-child {
                            width: 100px;
                        }
                        
                        &:last-child {
                            border-bottom: 2px solid #544f4f;
                        }
                    }
                }
                
                .features {
                    span {
                        width: 32%;
                        color: #FFF;
                        font-size: 12px;
                        padding: 3px 7px;
                        text-align: center;
                        background-color: $--color-84c942;
                        border-radius: 15px;
                        display: inline-block;
                        
                        &:nth-child(2) {
                            margin: 0 2%;
                        }
                    }
                }
            }
        }
    }
}

.read-more {
    margin-top: 50px;
    background-color: #FFFFFF;
    color: $--color-cb3a82;
    display: inline-block;
    border: 1px solid;
    font-size: 20px;
    line-height: 48px;
    max-width: 500px;
    width: 100%;
    font-weight: 700;
    height: 48px;
    transition: 0.8s;
    
    &:hover {
        color: #FFFFFF;
        background-color: $--color-cb3a82;
        border: 1px solid $--color-e6006e;
    }
}

/****************************************
 * Garden Reviews
 ****************************************/
.garden-reviews {
    padding: 40px 0;
    background-color: $--color-f8f7f7;
    
    h3 {
        line-height: 1;
        font-size: 35px;
        margin-bottom: 15px;
        color: $--color-333333;
    }
    
    .garden-review-item {
        background: url("../images/review-bg.png");
        padding: 20px 20px 40px;
        position: relative;
        margin: 10px 10px 50px;
        background-size: 100% 100%;
        
        img {
            position: absolute;
            bottom: -20px;
            right: 0;
            height: 65px;
            width: 65px;
        }
        
        .date-time {
            position: absolute;
            top: -5px;
            left: 2px;
            background: #CB3A82;
            color: #fff;
            border: 1px solid #CB3A82;
            height: 22px;
            line-height: 22px;
            font-size: 15px;
            width: 160px;
            text-align: center;
        }
        
        .review-title {
            font-size: 14px;
            text-decoration: underline;
            margin-top: 5px;
            display: inline-block;
        }
        
        .review {
            margin: 8px 0;
            padding: 0;
            
            li {
                display: flex;
                background-color: $--color-f2f2f2;
                height: 25px;
                margin: 6px 0;
                
                .title {
                    line-height: 25px;
                    font-size: 12px;
                    width: calc(100% - 115px);
                }
                
                .count {
                    line-height: 25px;
                    font-size: 12px;
                    width: 20px;
                    text-align: right;
                }
                
                .star {
                    text-align: right;
                    width: 95px;
                    
                    i {
                        letter-spacing: 2px;
                    }
                    
                    .color {
                        color: #CCCC3B;
                    }
                }
            }
        }
        
        .review-text {
            overflow: hidden;
            height: 45px;
            font-size: 12px;
            line-height: 15px;
        }
    }
    
    .read-more {
        margin-top: 30px;
    }
}


/****************************************
 * Kigarni Hoik
 ****************************************/
.Kigarni-hoik {
    padding: 100px 0 50px;
    
    .tabs {
        text-align: left;
    }
    
    .content {
        .tab-content {
            .single-item {
                margin: 0 5px;
            }
        }
    }
}

/****************************************
 * Ads
 ****************************************/
.ads {
    .banner {
        border-radius: 5px;
        margin: 8px 0;
    }
}

/****************************************
 * Kindergarten Hunt
 ****************************************/
.kindergarten-hunt {
    padding: 30px 0 40px;
    
    .content {
        text-align: center;
        background-color: $--color-f8f7f7;
        padding: 100px 140px;
        height: 100%;
        
        h2 {
            font-size: 35px;
        }
        
        p {
            text-align: left;
            font-size: 15px;
            margin: 20px 0 30px;
        }
        
        a {
            font-size: 15px;
            color: $--color-cb3a82;
            text-decoration: underline;
        }
    }
    
    img {
        width: 100%;
        height: 100%;
        border-radius: 5px;
    }
}

/****************************************
 * Ads
 ****************************************/
.ads-02 {
    .banner {
        border-radius: 5px;
        position: relative;
    }
    
    .banner:hover {
        &:after {
            content: '';
            height: 100%;
            width: 100%;
            background: #333333;
            position: absolute;
            opacity: 0.1;
            top: 0;
            left: 0;
            border-radius: 5px;
        }
    }
}


/****************************************
 * Child-rearing information bulletin board
 ****************************************/
.bulletin-board {
    padding: 50px 0 70px;
    
    .bulletin-board-inner {
        border: 1px solid #8D8D8D;
        
        .top-title {
            display: flex;
            height: 70px;
            background-color: #FFFDD2;
            border-block-end: ridge;
            
            h4 {
                text-align: center;
                line-height: 70px;
                color: black;
                font-weight: 400;
            }
        }
        
        .content {
            padding: 30px;
            
            .bulletin-item {
                border-bottom: 1px dotted #8D8D8D;
                padding: 15px 0;
                
                .date-title {
                    display: flex;
                    padding: 5px 0;
                    
                    div {
                        &:first-child {
                            padding: 1px 12px;
                            border: 1px solid #8D8D8D;
                            margin-right: 20px;
                        }
                    }
                }
                
                p {
                    margin: 0;
                    line-height: 30px;
                }
            }
            
            .read-more {
                width: 100%;
                margin-top: 25px;
                text-align: center;
            }
            
            .bulletin-btn {
                display: block;
                width: 100%;
                background-color: #EAEAEA;
                text-align: center;
                border-radius: 40px;
                margin-top: 25px;
                line-height: 50px;
            }
        }
    }
    
}


/****************************************
 * Child Rearing Consultation Corner
 ****************************************/
.child-consultation {
    background-color: $--color-f8f7f7;
    padding: 0 0 20px;
    
    .child-consultation-inner {
        padding: 20px;
        background-color: #FFFFFF;
        
        .consultation-item {
            display: flex;
            margin: 40px 0;
            
            img {
                width: 100px;
                height: 100px;
            }
            
            .consultation-content {
                h5 {
                    margin: 0 0 15px 0;
                }
                
                span {
                }
            }
            
            
            .bg-left {
                background: url("../images/consultation-corner-bg-left.png");
                padding: 15px 15px 15px 60px;
            }
            
            .bg-right {
                background: url("../images/consultation-corner-bg-right.png");
                padding: 15px 60px 15px 15px;
            }
            
            .bg-left, .bg-right {
                background-size: 100% 100%;
                width: 100%;
            }
        }
    }
    
    .read-more {
        margin-top: 15px;
    }
}

/****************************************
 * Notice
 ****************************************/
.notice {
    padding: 60px 0 50px;
    
    h3 {
        font-size: 25px;
    }
    
    .notice-content {
        border-top: 2px solid #cac3ce;
        border-bottom: 2px solid #cac3ce;
        padding: 8px 0 0;
        
        a {
            font-size: 16px;
            line-height: 30px;
            text-decoration: underline;
            
            span {
                display: inline-block;
                
                &:first-child {
                    width: 150px;
                    
                }
            }
        }
    }
}

/****************************************
 * Search Components
 ****************************************/

.breadcrumb-border {
    border-top: 1px solid $--color-f2f2f2;
    border-bottom: 1px solid $--color-f2f2f2;
    
    .breadcrumb {
        margin: 0;
    }
}

/* Search Result */

.search-result {
    color: #212529;
    
    .search-result-tab {
        border-bottom: 5px solid #EBEBEB;
        
        div {
            border-radius: 10px;
            border: 1px solid #D6D6D6;
            
            &.active {
                background: $--color-cb3a82;
                border: 1px solid $--color-cb3a82;
                color: #FFFFFF;
            }
        }
    }
    
    h3 {
        border-top: 3px solid #CB3A82;
        background: var(--unnamed-color-ffffff) 0 0 no-repeat padding-box;
        background: #FFFFFF;
        box-shadow: 0 3px 6px #00000057;
        opacity: 1;
        margin-bottom: 35px;
        padding: 15px 10px;
        font-size: 24px;
    }
    
    .search-result-item {
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 60px;
        border-top: 3px solid $--color-cb3a82;
    }
    
    .search-result-start {
        background: #FAFAFA;
        text-align: center;
        border: 1px solid #FAFAFA;
        
        div {
            white-space: nowrap;
            background: #FFFFFF;
            color: #333333;
            padding: 4px 0;
            position: relative;
            width: 70px;
            min-height: 40px;
            font-size: 14px;
            
            span:last-child {
                position: absolute;
                z-index: 9;
                bottom: -15px;
                left: 50%;
                transform: translate(-50%, 0);
            }
        }
        
        i {
            color: #333333;
            font-size: 1.6rem;
        }
        
        div {
            &:after {
                content: "";
                display: block;
                position: absolute;
                border-top: 20px solid #FFFFFF;
                border-left: 35px solid transparent;
                border-right: 35px solid transparent;
                top: 100%;
                left: 50%;
                transform: translateX(-50%);
            }
        }
    }
    
    .title {
        padding: 10px 15px;
        
        span {
            border: 1px solid;
            color: $--color-cb3a82;
            font-size: 13px;
            padding: 3px 5px;
            margin-right: 10px;
        }
    }
    
    .search-result-right {
        font-size: 13px;
        
        .w-85 {
            float: left;
            width: 85px;
            text-align: justify;
        }
        
        .search-heart-count {
            color: #D9CA23;
            
            i {
                margin: 0 2px;
            }
        }
    }
    
    
    .Kindergarten-features {
        span {
            display: inline-block;
            background: #FBEEF5;
            color: #847e81;
            padding: 2px 8px;
            margin: 0 5px 5px 0;
            text-align: center;
            font-size: 12px;
            
            &:last-child {
                margin-right: 0;
            }
        }
        
        .search-analytics {
            display: flex;
            flex-wrap: wrap;
            
            strong {
                margin: 0 5px;
            }
        }
    }
}


/* Search Widget */
.widget {
    margin-bottom: 30px;
    
    .widget-title {
        background: #E6E7E9;
        color: #131212;
        padding: 7px 15px;
        font-size: 1rem;
        border-top: 4px solid #717171;
        font-weight: 500;
        border-bottom: 1px solid #EFF0F2;
    }
    
    .widget-body-outer {
        background: #F7F8FA;
        padding: 7px 15px 14px;
        border-radius: 0 0 4px 4px;
        border: 1px solid #E6E7E9;
    }
    
    .widget-body-title {
        font-size: 1.2rem;
        color: #333;
        border-bottom: 1px solid;
        margin: 13px 0;
        padding-bottom: 3px;
    }
    
    .widget-body ul {
        margin: 0;
        padding: 0;
        list-style: none;
        
        li {
            margin-bottom: 7px;
            
            label, input {
                cursor: pointer;
            }
        }
    }
}


.search-by-keyword {
    margin-bottom: 20px;
    
    .form-control:focus {
        border-color: #E6E7E9;
        box-shadow: inherit;
    }
    
    button {
        border-radius: 0 2px 2px 0;
        
        i {
            color: #FFFFFF;
        }
    }
    
    .btn:focus {
        box-shadow: inherit;
    }
}

.add-detail-condition {
    border: none;
    background: transparent;
    margin: 15px 0 0 0;
    color: #a2a2a2;
    padding: 0;
    
    i {
        font-weight: normal;
    }
}

/****************************************
 * Usage Flow
 ****************************************/
.usage-flow, #ThoughtsofKigarniHoik {
    .header {
        h4 {
            &:before, &:after {
                top: 50%;
                content: "";
                clear: both;
                height: 1px;
                width: 35px;
                display: block;
                position: absolute;
                transform: translate(0, -50%);
                background-color: $--color-707070;
            }
            
            &:before {
                right: 110%;
            }
            
            &:after {
                left: 110%;
            }
        }
    }
}

/****************************************
 * For the first time
 ****************************************/
.for-the-first-time {
    padding: 40px 0;
    
    .inner {
    
    }
}

/****************************************
 * Steps
 ****************************************/
.steps {
    padding: 60px 0;
    overflow: hidden;
    
    span {
        color: #f1cbdc;
        background-color: #FFFFFF;
    }
    
    .step-count {
        height: 65px;
        width: 65px;
        font-size: 50px;
        line-height: 1.4em;
        background-color: #f1cbdc;
        position: relative;
        
        &:before {
            display: block;
            content: "";
            position: absolute;
            top: 50%;
            right: -36px;
            height: 2px;
            width: 25px;
            transform: translate(-50%, 0);
            background: $--color-c4c4c4;
        }
        
        &:after {
            display: block;
            content: "";
            position: absolute;
            top: 100%;
            left: 50%;
            height: 10000%;
            width: 3px;
            background: #f1cbdc;
        }
        
        span {
            position: absolute;
            top: 100%;
            left: 50%;
            height: 100vh;
            width: 3px;
            background: #ffffff;
            z-index: 1;
        }
    }
    
    h4 {
        background: #D6D6D65D 0 0 no-repeat padding-box;
        padding: 10px 5px;
        font-weight: 700;
        font-size: 18px;
        line-height: 1;
    }
    
    .step-content {
        background: $--color-ffffff;
        padding: 1.5rem !important;
        margin-left: 1.5rem !important;
        width: 100%;
        
        h5 {
            color: #CB3A82;
        }
        
        img {
            width: 115px;
            height: 115px;
            margin-right: 15px;
        }
        
        a {
            margin: 3px 0 6px;
            display: inline-block;
            color: $--color-6f7070;
            text-decoration: underline;
        }
        
        p {
            color: $--color-6f7070;
            margin-bottom: 0
        }
        
        .bg-gradient-ib {
            display: inline-block;
            background: linear-gradient(to top, #CB3A8212 60%, #FFFFFF 40%);
            padding: 2px 5px 5px;
            line-height: 1;
            margin: 13px 0 7px;
            color: #333333;
        }
    }
    
    .box-content {
        display: flex;
        align-items: center;
        padding: 10px;
        border: 1px solid $--color-6f7070;
        
        .left-content {
            text-align: center;
            font-size: 14px;
            width: 100px;
            vertical-align: middle;
            color: $--color-6f7070;
            float: left;
            
            div {
                font-size: 11px;
            }
        }
        
        .right-content {
            border-left: 1px solid $--color-6f7070;
            padding: 0 0 0 10px;
            float: left;
            width: calc(100% - 100px);
        }
    }
}

/****************************************
 * What is Kigaruni Hoiku
 ****************************************/
.kigaruni-hoiku {
    .banner-content {
        bottom: 15%;
        position: absolute;
        text-align: center;
        padding: 0 40px;
        right: 100px;
    }
    
    .kigarni-hoik {
        background-color: $--color-f8f7f7;
        padding: 3rem 0;
        
        .single-item {
            background-color: $--color-ffffff;
            padding: 25px;
            border-radius: 30px;
            margin-bottom: 30px;
            
            .content {
                text-align: center;
                display: table;
                height: 100%;
                padding: 1.5rem;
                
                .inner {
                    display: table-cell;
                    vertical-align: middle;
                    
                    h3 {
                        color: $--color-c94284;
                        margin-bottom: 15px;
                    }
                    
                    p {
                        margin-bottom: 0;
                    }
                }
            }
        }
    }
    
    .other-uses {
        padding: 3rem 0;
        
        .single-item {
            border-radius: 25px;
            border: 1px solid $--color-aaaaaa;
            padding: 20px 25px;
            margin-bottom: 30px;
            
            h5 {
                font-weight: 500;
                color: $--color-c94284;
                margin-bottom: 15px;
            }
            
            p {
                margin-bottom: 0;
                line-height: 26px;
                color: $--color-6f7070;
            }
        }
    }
    
    .rules {
        padding: 3rem 0;
        
        h3 {
            padding: 0 25px;
            margin-bottom: 40px;
            display: inline-block;
            border-bottom: 2px solid $--color-707070;
        }
        
        p {
            margin-bottom: 0;
            line-height: 26px;
            color: $--color-6f7070;
        }
    }
    
    .voice-user {
        padding: 3rem 0;
        background-color: $--color-f8f7f7;
        
        .single-item {
            .content {
                display: table;
                height: 100%;
                padding: 1.5rem;
                
                .inner {
                    display: table-cell;
                    vertical-align: middle;
                    
                    h4 {
                        margin-bottom: 35px;
                        margin-left: 25px;
                    }
                    
                    p {
                        margin-bottom: 0;
                    }
                }
            }
        }
    }
}

/****************************************
 * Regain you full of love
 ****************************************/
.regain-full-love {
    text-align: center;
    background-color: $--color-f8f7f7;
    
    a {
        display: inline-block;
        background-color: #FFFFFF;
        padding: 10px 20px;
        font-weight: 700;
        border-radius: 4px;
        margin: 10px 0 30px;
    }
}

.kigaruni-hoiku-info {
    .single-item {
        padding: 0 40px;
        text-align: center;
        
        img {
            width: 100%;
        }
        
        h4 {
            margin: 15px 0 20px;
            display: inline-block;
            border-bottom: 1px solid $--color-c94284;
            font-size: 20px;
        }
        
        p {
            margin: 0;
            text-align: left;
            font-size: 14px;
            line-height: 1.5rem;
        }
    }
}

.find-nursery-school {
    .first-banner {
        .d-flex {
            padding: 5px;
            border: 1px solid $--color-c94284;
        }
        
        img {
            width: 140px;
            height: 117px;
        }
        
        h3 {
            display: block;
            text-align: center;
            width: 100%;
            margin: 0;
        }
    }
    
    ul, h5 {
        margin: 0;
        padding: 0;
    }
    
    li {
        padding: 5px 0;
        
        &:first-child {
            padding-top: 0;
        }
        
        &:last-child {
            padding-bottom: 0;
        }
    }
    
    .mx-input {
        border: 1px solid #cbcbcb !important;
        border-radius: 0;
        background: #f8f7f7;
        padding: 10px !important;
    }
}


/****************************************
 * Footer
 ****************************************/
.footer-area {
    padding: 70px 0 20px;
    
    .footer-item {
        margin-bottom: 35px;
        padding: 0 30px 0 0;
        
        h4 {
            font-size: 20px;
            text-transform: uppercase;
            border-bottom: 1px solid;
            padding: 0 0 2px 8px;
            color: $--color-cb3a82;
        }
        
        ul {
            margin: 0;
            padding: 0 0 0 8px;
            
            li {
                margin: 5px 0;
                
                a {
                    display: inline-block;
                    font-size: 14px;
                    
                    &:hover {
                        color: $--color-cb3a82;
                    }
                }
            }
        }
        
        .fb-page {
            display: inline-block;
            text-align: center;
        }
        
        .footer-icon {
            margin-top: 15px;
            
            ul {
                display: flex;
                align-items: center;
                justify-content: center;
                
                li {
                    margin: 0 10px;
                    
                    a {
                        &:hover {
                            i {
                                color: $--color-cb3a82;
                            }
                        }
                    }
                    
                    i {
                        font-size: 30px;
                    }
                }
            }
        }
    }
}

/****************************************
 * Guide Pages
 ****************************************/
.guide {
    .step {
        overflow: hidden;
        margin-bottom: 60px;
        
        .step-count {
            height: 90px;
            line-height: 2em;
            font-weight: 700;
            font-size: 20px;
            color: $--color-c94284;
            opacity: .4;
            
            &:after {
                display: block;
                content: "";
                position: absolute;
                top: 100%;
                left: 50%;
                height: 10000%;
                width: 2px;
                background: $--color-c94284;
            }
            
            span {
                font-size: 36px;
            }
        }
        
        .step-content {
            background: #ffffff;
            margin-left: 2rem;
            width: 100%;
        }
    }
}

.exy--custom--radio input[type="radio"] {
    display: none;
}

.exy--custom--radio label {
    position: relative;
    display: inline-block;
    padding: 3px 3px 3px 20px;
    cursor: pointer;
}

.exy--custom--radio label::before,
.exy--custom--radio label::after {
    position: absolute;
    content: '';
    top: 50%;
    border-radius: 100%;
    -webkit-transition: all .2s;
    transition: all .2s;
}

.exy--custom--radio label::before {
    left: 0;
    width: 14px;
    height: 14px;
    margin: -7px 0 0 1px;
    background: #f3f3f3;
    border: 1px solid #ccc;
}

.exy--custom--radio label:hover::before {
    background: #fff;
}

.exy--custom--radio label::after {
    opacity: 0;
    left: 4px;
    width: 8px;
    height: 8px;
    margin-top: -4px;
    background: #f368aa;
    -webkit-transform: scale(2);
    transform: scale(2);
}

.exy--custom--radio input[type="radio"]:checked + label::before {
    background: #fff;
    border: 1px solid #e6006e;
}

.exy--custom--radio input[type="radio"]:checked + label::after {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
}
